@media (min-width:992px){
    .ex{
        width: 70%;
    }
}

@media (max-width:992px){
    .ord{
        display: flex;
        flex-direction: column;
    }
    .text{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .clm{
        display: flex;
        flex-direction: column-reverse;
    }
}